body {
    border-top: .5em solid #000;
    background-image: url('/static/img/mooning.png');
}

label {
	font-weight: bold;
}
.sidebar-nav {
	padding: 9px 0;
}

@media (max-width: 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
	  float: none;
	  padding-left: 5px;
	  padding-right: 5px;
	}
}

.container-narrow {
    margin: 0px auto;
    max-width: 700px;
}

.input-xxlarge {
	height: 100%;
	width: 75%;

}

textarea, .textareaClone {
	min-height: 6em;
	padding: 1em;
	margin-bottom: 10px; 
}