<!doctype html>
<html class="yui3-js-enabled wf-omnespro-n2-active wf-omnespro-n3-active wf-proximanova-n1-active wf-proximanova-n4-active wf-proximanova-n7-active wf-active" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Autocraig Web</title>

    <!--<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.1.0/pure-min.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pure-min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
</head>
<body>
<div class="pure-g-r content" id="layout"> <!-- core layout-->
    <div class="pure-u" id="nav"><!-- navigation -->
        <a href="#nav" class="nav-menu-button">Menu</a>
        <div class="nav-inner">
            <li class="pure-menu-heading">Control Panel</li>
            <a class="pure-button primary-button" href="/new_task">New Task</a>

            <div class="pure-menu pure-menu-open">
                <ul>
                    <li><a href="/messages">Messages (<span id="email-count" class="email-count">{{ messageCount }}</span>)</a></li>
                </ul>
                <ul>
                    <li><a href="/reports">Reports</a></li>
                </ul>
                {% if session['logged_in'] %}
                    <ul>
                        <li><a href="/logout" id="#logout">Logout</a></li>
                    </ul>
                {% else %}
                    <ul>
                        <li><a href="/">Login/Register</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div><!-- /navigation -->


    <!-- main content -->
    <div class="pure-u" id="main">
    {% block main %}

    {% endblock %}
    </div>
    <!-- /main content -->



</div><!-- /core layout -->
<!-- js -->
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='expanding.js') }}"></script>
{% block js %}

{% endblock %}
<!-- /js -->