{% extends "base.html" %}
{% block main %}
<div class="pure-u" id="list"><!-- col2 -->
    <div id="email-list" class="content">
        <!-- display messages -->
        {% for message in messages %}
        <div id="{{ message['_id'] }}" class="email-item pure-g">
            <div class="pure-u-3-4">
                <h5 class="email-name">Created: {{ message['created_at'].strftime('%a %Y-%m-%d, %H:%M') }}</h5>
                <p class="email-from">From: {{ message['fromAddress']}}</p>
                <p class="email-desc">CC: {{ message['ccAddress'] }}</p>
                <p class="email-desc">Reports Enabled? <span>{% if message['reportsEnabled'] %}Yes{% else %}No{% endif %}</span></p>
                <p class="email-desc">Report Address: {{ message['reportAddress'] }}</p>
                <h4 class="email-subject">{{ message['subject'] }}</h4>
                <p class="">{{ message['body'] }}</p>

                <button id="{{ message['_id'] }}" class="pure-button edit-button">Edit</button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="pure-u" id="main">
<div class="content">
<div class="email-content pure-r">
    <div class="email-content-header pure-r"><!-- col3-->
        <div class="pure-r">
            <h1 class="email-content-title">Edit Message</h1>
            <p class="email-content-subtitle">
                <span>{{ datetime.strftime('%a %Y-%m-%d, %H:%M') }}</span>
            </p>
        </div>
    </div>
    <div class="email-content-body pure-u-1">
        <form class="pure-form" method="POST" enctype="multipart/form-data" action="/_edit_message">
            <fieldset>
                <p>
                    <label>From</label>
                    <input name="fromAddress" class="input-xlarge" type="text" value="{{ message['fromAddress'] }}">
                    or
                    <input name="fromAddressList" type="file"/>
                </p>
                <p>
                    <label>CC</label>
                    <input name="ccAddress" class="input-xlarge" type="text" value="{{ message['ccAddress'] }}">
                </p>
                <p>
                    <label>Enable reporting <input name="reportsEnabled" type="checkbox"></label>
                    <input id="reportAddress" name="reportAddress" type="hidden" value="{{ message['reportAddress'] }}">
                </p>
                <p>
                    <label>Subject</label>
                    <input name="subject" class="input-xlarge" type="text" value="{{ message['subject'] }}">
                </p>
                <p>
                    <label>Attachments</label>
                    <input name="attachments" type="file" multiple="multiple"/>
                </p>

                <div></div>

                <label>Message Content</label>
                <textarea name="body" class="input-xxlarge expanding" type="text">{{ message['body'] }}</textarea>
                <div style="margin-top:50px;"></div>

                <input type="hidden" name="_id" value="{{ message['_id'] }}">

                <button id="addMessage" type="submit" class="pure-button pure-button-primary">Submit Changes</button>
            </fieldset>
        </form>
    </div>
</div>
</div>
</div>

{% endblock %}
{% block js %}
<script type="text/javascript">
    $('input[name="reportsEnabled"]').click(function(event) {
        if ($('#reportAddress').prop('type') == 'hidden')
            $('#reportAddress').prop('type', 'text');
        else
            $('#reportAddress').prop('type', 'hidden')
    });
</script>
{% endblock %}

</body>
</html>