{% extends "base.html" %}
{% block main %}
<div class="pure-u">
    <form class="pure-form" method="post" action="/login">
        <fieldset>
            <legend>Login</legend>

            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>

            <button id="login" class="pure-button notice">Sign in</button>
        </fieldset>
    </form>

    <form action="/register" method="POST" class="pure-form pure-form-stacked pure-form-aligned">
        <fieldset class="pure-group">
            <legend>Register</legend>

            <input type="email" name="email" class="pure-input-1-2" placeholder="Email" required>
            <input type="password" name="password" class="pure-input-1-2" placeholder="Password" required>
            <input type="password" name="password2" class="pure-input-1-2" placeholder="Repeat Password" required>


            <button type="submit" class="pure-button pure-input-1-2 notice">Register</button>
        </fieldset>
    </form>
</div>
{% endblock %}
{% block js %}
{% endblock %}