{% extends "base.html" %}
{% block main %}
<div class="pure-u" id="list"><!-- col2 -->
    <div id="email-list" class="content">
    	<!-- display messages -->
    	{% for message in messages %}
        <div id="{{ message.id }}" class="email-item pure-g">
            <div class="pure-u-3-4">
                <h5 class="email-name">Created: {{ message.created_at.strftime('%a %Y-%m-%d at %H:%M') }}</h5>
                <h4 class="email-subject">{{ message.subject }}</h4>
                <p class="email-desc">{{ message.body }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="pure-u" id="main">
<div class="content">
<div class="email-content pure-r">
	<div class="email-content-header pure-r"><!-- col3-->
        <div class="pure-r">
            <h1 class="email-content-title">New Message</h1>
            <p class="email-content-subtitle">
                <span>{{ datetime.strftime('%a %Y-%m-%d, %H:%M') }}</span>
            </p>
        </div>
	</div>
    <div class="email-content-body pure-u-1">
        <form class="pure-form" method="POST" enctype="multipart/form-data" action="/_new_message">
            <fieldset>
                <p>
                    <label>From</label>
                    <input name="fromAddress" class="input-xlarge" type="text" placeholder="you@mail.com">
                    or
                    <input name="fromAddressList" type="file"/>
                </p>
                <p>
                    <label>CC</label>
                    <input name="ccAddress" class="input-xlarge" type="text" placeholder="cc@mail.com">
                </p>
                <p><label>Send me reports<input name="reportsEnabled" type="checkbox"></label></p>
                <p>
                    <label>Subject</label>
                    <input name="subject" class="input-xlarge" type="text" placeholder="Subject">
                </p>
                <p>
                    <label>Attachments</label>
                    <input name="attachments" type="file" multiple="multiple"/>
                </p>

                <div></div>

                <label>Message Content</label>
                <textarea name="body" class="input-xxlarge expanding" type="text"></textarea>
                <div style="margin-top:50px;"></div>

                <button id="addMessage" type="submit" class="pure-button pure-button-primary">Add</button>
            </fieldset>
        </form>
    </div>
</div>
</div>
</div>

{% endblock %}

<!-- js -->
{% block js %}
<script type="text/javascript">
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

/*
$('#addMessage').click(function(event) {
	event.preventDefault();
    if ($('#email-list').children().length) {
        latestMessageId = Number($('#email-list').children()[$('#email-list').children().length-1].id);
    } else {
        latestMessageId = 0;
    }

    newMessageId = latestMessageId + 1;

    //var subject = $('#subject').val();
    //var body    = $('#content').val();
	// post ajax request to add message to db
	$.getJSON($SCRIPT_ROOT + '/_new_message', {
		fromAddress: $('#fromAddress').val(),
		subject: 	 subject,
		body: 		 body,
		reportsEnabled: $('#reportsEnabled').val(),
		ccAddress: 	 $('#ccAddress').val(),
	   }, function(data) {

        var msgStr = ('<div id="'+newMessageId+'" class=email-item pure-g"><div class="pure-u-3-4"><h3 class="email-name">Created: Just now..</h3><h4 class="email-subject">'+subject+'</h4><p class="email-desc">'+body+'</p></div></div>');

        $('#email-list').prepend(msgStr);

        // update email count
        $('#email-count').text(Number($('#email-count').text()) + 1);

    });*/


	return false;
});
</script>
{% endblock %}

</body>
</html>