{% extends "base.html" %}
{% block main %}
    <div id="menu" class="pure-u"><!-- col1 -->
        <div class="pure-menu pure-menu-open">
            <a class="pure-menu-heading" href="/"></a>
            <ul class="nav nav-list">
                <li class="nav-header">Control Panel</li>
                <li class="active"><a href="/" class="pure-button pure-button-primary">New Task</a></li>
                <li><a href="/messages" class="pure-button">Custom Messages</a></li>
            </ul>
        </div>
    </div>

    <div class="pure-u" id="list">
        <div class="content">
            <div class="email-item email-item-selected pure-g">
                <div class="pure-u">
                    <img class="email-avatar" alt="Tilo Mitra's avatar" src="http://api.twitter.com/1/users/profile_image?screen_name=tilomitra&amp;size=bigger" height="65" width="65">
                </div>

                <div class="pure-u-3-4">
                    <h5 class="email-name">Tilo Mitra</h5>
                    <h4 class="email-subject">Hello from Toronto</h4>
                    <p class="email-desc">
                        Hey, I just wanted to check in with you from Toronto. I got here earlier today.
                    </p>
                </div>
            </div>

            <div class="email-item email-item-unread pure-g">
                <div class="pure-u">
                    <img class="email-avatar" alt="Eric Ferraiuolo's avatar" src="http://api.twitter.com/1/users/profile_image?screen_name=ericf&amp;size=bigger" height="65" width="65">
                </div>

                <div class="pure-u-3-4">
                    <h5 class="email-name">Eric Ferraiuolo</h5>
                    <h4 class="email-subject">Re: Pull Requests</h4>
                    <p class="email-desc">
                        Hey, I had some feedback for pull request #51. We should center the menu so it looks better on mobile.
                    </p>
                </div>
            </div>

            <div class="email-item email-item-unread pure-g">
                <div class="pure-u">
                    <img class="email-avatar" alt="YUI's avatar" src="http://api.twitter.com/1/users/profile_image?screen_name=yuilibrary&amp;size=bigger" height="65" width="65"/>
                </div>

                <div class="pure-u-3-4">
                    <h5 class="email-name">YUI Library</h5>
                    <h4 class="email-subject">You have 5 bugs assigned to you</h4>
                    <p class="email-desc">
                        Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla.
                    </p>
                </div>
            </div>

            <div class="email-item pure-g">
                <div class="pure-u">
                    <img class="email-avatar" alt="Reid Burke's avatar" src="http://api.twitter.com/1/users/profile_image?screen_name=reid&amp;size=bigger" height="65" width="65"/>
                </div>

                <div class="pure-u-3-4">
                    <h5 class="email-name">Reid Burke</h5>
                    <h4 class="email-subject">Re: Design Language</h4>
                    <p class="email-desc">
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa.
                    </p>
                </div>
            </div>

            <div class="email-item pure-g">
                <div class="pure-u">
                    <img class="email-avatar" alt="Andrew Wooldridge's avatar" src="http://api.twitter.com/1/users/profile_image?screen_name=triptych&amp;size=bigger" height="65" width="65"/>
                </div>

                <div class="pure-u-3-4">
                    <h5 class="email-name">Andrew Wooldridge</h5>
                    <h4 class="email-subject">YUI Blog Updates?</h4>
                    <p class="email-desc">
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                    </p>
                </div>
            </div>

            <div class="email-item pure-g">
                <div class="pure-u">
                    <img class="email-avatar" alt="Yahoo! Finance's Avatar" src="http://api.twitter.com/1/users/profile_image?screen_name=yahoofinance&amp;size=bigger" height="65" width="65"/>
                </div>

                <div class="pure-u-3-4">
                    <h5 class="email-name">Yahoo! Finance</h5>
                    <h4 class="email-subject">How to protect your finances from winter storms</h4>
                    <p class="email-desc">
                        Mauris tempor mi vitae sem aliquet pharetra. Fusce in dui purus, nec malesuada mauris.
                    </p>
                </div>
            </div>

            <div class="email-item pure-g">
                <div class="pure-u">
                    <img class="email-avatar" alt="Yahoo! News' avatar" src="http://api.twitter.com/1/users/profile_image?screen_name=yahoonews&amp;size=bigger" height="65" width="65"/>
                </div>

                <div class="pure-u-3-4">
                    <h5 class="email-name">Yahoo! News</h5>
                    <h4 class="email-subject">Summary for April 3rd, 2012</h4>
                    <p class="email-desc">
                        We found 10 news articles that you may like.
                    </p>
                </div>
            </div>
        </div>
    </div>




    <div class="pure-u"><!-- col3-->
        <form class="pure-form">
            <fieldset>
                <em><legend class="text-info">New Task</legend></em>

                <a href="#chooseMessagesModal" role="button" class="pure-button" data-toggle="modal">Choose Messages</a>
                <div></div>

                <div class="input-prepend input-append" style="margin-top:10px;">
                    <span class="add-on">Rerun every</span>
                    <input class="span2" id="sleep-time" type="text" placeholder="0"/>
                    <span class="add-on">seconds</span>
                </div>
                <div style="margin-top:15px;"></div>

                <label>Scrape URLS</label>
                <textarea id="urls" class="input-xxlarge expanding" type="text" placeholder="http://orangecounty.craigslist.org/search/hhh?query=superior+newport+beach&minAsk=min&maxAsk=1350"></textarea>
                <div style="margin-top:50px;"></div>
                <button id="go" type="submit" class="pure-button pure-button-primary">Go</button>
            </fieldset>
        </form>
    </div>

<!-- modals -->
<!--
<div id="chooseMessagesModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="chooseMessagesModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="chooseMessagesModal">Choose Messages</h3>
    </div>
    <div class="modal-body">
        <table class="table table-condensed table-striped">
            <thead>
                <th></th><th>Subject</th><th>Body</th><th>From</th><th>Reports Enabled?</th>
            </thead>
            {% for message in messages %}
                <tr>
                    <td><input class="message-selection" id="{{ message.id }}" type="checkbox"/></td>
                    <td>{{ message.subject }}</td><td>{{ message.body }}</td><td>{{ message.fromAddress }}</td><td>{{ message.reportsEnabled }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
-->
{% endblock %}

<!-- js -->
{% block js %}
<script type="text/javascript">
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

$('#go').click(function(event) {
    event.preventDefault();
    if ( $('#urls').val().split('\n')[0] != null ) {  // post ajax request to start sending messages
        var selectedMessages = '';
        $('.message-selection').each(function() {
            if ( $(this).is(':checked') )
                selectedMessages += $(this).prop('id') + ',';
        });

        $.getJSON($SCRIPT_ROOT + '/_go', {
            selectedMessages: selectedMessages,
            urls: $('#urls').val(),
            sleepTime: $('#sleep-time').val(),
        }, function(data) {
            //alert(data.result); // 1 or 0
        });
        
    };
    return false;
});
</script>
{% endblock %}
</body>
</html>