{% extends "base.html" %}
{% block main %}
<div class="pure-u"><!-- col2 -->
    <div class="content">
        <!-- display settings -->
        <form class="pure-form" method="POST" enctype="multipart/form-data" action="/settings">
            <fieldset>
                <legend>Proxies</legend>
                    <a href="/current_proxies.txt" target="_blank">Current Proxies</a>
                    <p>
                        <label for="uploaded_proxies">Upload Proxies from .txt:</label>
                        <input type="file" name="uploaded_proxies"/>
                    </p>
                    <input class="pure-button pure-input-1-2" type="submit" value="Save Changes" />
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}